/* ==============================
       lOGIN PAGE START  
============================= */
@media (max-width: 992px) {
  .login-container {
    position: relative;
    height: 70vh;
    width: 95%;
    display: block;
  }

  .login-container .img-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  .login-container .content-box {
    background-color: rgb(255, 255, 255, 0.7);
    width: 100%;
    position: absolute;
    height: 100%;
  }
}

@media (max-width: 280px) {
  .login-container {
    width: 100%;
    height: 80vh;
  }

  .form-box {
    width: 80%;
  }
}

/* ==============================
         HOME PAGE START  
============================= */

/* =========== GALLARY SECTION ========= */
@media (max-width: 768px) {
  .gallary h2,
  .work h2 {
    font-size: 5.6rem;
  }

  .show-pictures {
    width: 100%;
    display: block;
    padding: 0rem 0rem 6rem;
    margin: 0 auto;
  }

  .show-picures-content {
    width: 100%;
    display: block;
    margin-top: 2rem;
    height: 200px;
  }

  .pictures-slide {
    width: 80%;
    margin: 0 auto;
  }

  p {
    font-size: 1.1rem;
    color: #777;
  }
}

@media (max-width: 668px) {
  .gallary h2,
  .work h2 {
    font-size: 4.6rem;
  }

  p {
    font-size: 1rem;
    color: #777;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 0.8rem;
  }

  .show-picures-content {
    width: 100%;
    display: block;
    margin-top: 2rem;
    height: 380px;
  }

  .gallary h2,
  .work h2 {
    font-size: 4.3rem;
  }

  .logo a {
    margin-top: 0rem;
    font-size: 1.5rem;
  }

  .navbar img {
    width: 20%;
  }

  .nav-links li {
    padding: 0 0.5rem;
  }

  .nav-links li a {
    font-size: 1rem;
  }
}

/* ==================  WORK SECTION ==================  */
@media (max-width: 768px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row section .icon {
    left: -60px;
  }
}

@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    opacity: 0;
  }

  .wrapper .row {
    margin: 4rem 0;
  }
}
